/* very small devices */
@media screen and (max-device-width: 355px) {
  body {
    background-image: none;
    background: rgb(90, 171, 238);
  }
  .music {
    display: none;
  }
  .select-box {
    width: 90%;
  }
  .options .kyogrePlayer {
    background: rgba(36, 87, 255, 0.8);
    color: white;
    border: 3px solid rgb(9, 17, 134);
  }
  .options .groudonPlayer {
    background: rgba(255, 39, 39, 0.8);
    border: 3px solid rgb(141, 9, 9);
    color: white;
  }
  .kyogreScore,
  .groudonScore,
  .pokemon1,
  .pokemon2 {
    display: none;
  }
  h1 {
    font-size: 1.4rem;
    margin: 5px;
  }
  .instructions {
    display: none;
  }
  .messageContainer {
    color: rgb(54, 54, 54);
    background: rgba(170, 170, 170, 0.5);
    width: 100%;
    margin: 0;
  }
  table {
    margin-top: 30px;
  }
  td {
    border: 2px solid rgb(110, 110, 110);
  }
  .groudon {
    display: none;
  }
  .kyogre {
    display: none;
  }
  .myButton {
    width: 70%;
    margin-top: 20px;
  }
  .show {
    transform: translate(0%, -69%) scale(0.9);
  }
}
/* small devices */
@media screen and (max-device-width: 600px) {
  body {
    background-image: none;
    background: rgb(90, 171, 238);
  }
  .music {
    display: none;
  }
  .select-box {
    width: 90%;
  }
  .show {
    transform: translate(0%, -52%) scale(1);
  }
  .options .kyogrePlayer {
    background: rgba(36, 87, 255, 0.8);
    color: white;
    border: 3px solid rgb(9, 17, 134);
  }
  .options .groudonPlayer {
    background: rgba(255, 39, 39, 0.8);
    border: 3px solid rgb(141, 9, 9);
    color: white;
  }
  .kyogreScore,
  .groudonScore,
  .pokemon1,
  .pokemon2 {
    display: none;
  }
  h1 {
    font-size: 1.7rem;
    margin: 5px;
  }
  .instructions {
    display: none;
  }
  .messageContainer {
    color: rgb(54, 54, 54);
    background: rgba(170, 170, 170, 0.5);
    width: 100%;
    margin: 0;
  }
  table {
    margin-top: 30px;
  }
  td {
    border: 2px solid rgb(110, 110, 110);
  }
  .groudon {
    display: none;
  }
  .kyogre {
    display: none;
  }
  .myButton {
    width: 70%;
    margin-top: 20px;
  }
}
/* style for ipad and so on */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  body {
    background-image: none;
    background: rgb(90, 171, 238);
  }
  .music {
    display: none;
  }
  .select-box {
    width: 90%;
  }
  .options .kyogrePlayer {
    background: rgba(36, 87, 255, 0.8);
    color: white;
    border: 3px solid rgb(9, 17, 134);
  }
  .options .groudonPlayer {
    background: rgba(255, 39, 39, 0.8);
    border: 3px solid rgb(141, 9, 9);
    color: white;
  }
  .kyogreScore,
  .groudonScore,
  .pokemon1,
  .pokemon2 {
    display: none;
  }
  .messageContainer {
    color: rgb(54, 54, 54);
    background: rgba(170, 170, 170, 0.5);
    width: 50%;
  }
  table {
    margin-top: 80px;
  }
  td {
    border: 2px solid rgb(110, 110, 110);
  }
  .groudon {
    display: none;
  }
  .kyogre {
    display: none;
  }
  .myButton {
    width: 50%;
    opacity: 1;
  }
}
